{% extends 'base.html' %}

{% block header %}

<div class="container-xxl !direction !spacing">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-md-6">
            <ul class="nav">
                <li class="nav-item">
                    <a aria-current="page" href="{% url 'main' %}">Главная</a>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}

{% block body %}

<div class="container-xxl !direction !spacing">    
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-md-4 auth">

            <div class="errorlist">
                {% if form.errors %}
                    <p>Имя или пароль введены неверно.</p>
                {% endif %}
                        
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>У аккаунта нет доступа к этой странице.</p>
                    {% else %}
                        <p>Войдите в аккаунт чтобы просматривать эту страницу.</p>
                    {% endif %}
                {% endif %}
            </div>

            <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for item in form %}
                        <p>{{ item.label_tag }}</p>
                        <p>{{ item }}</p>
                    {% endfor %}
                    <button class="btn button" type="submit">Войти</button>
                    <input type="hidden" name="next" value="{{ next }}">
            </form>

        </div>
    </div>
</div>


{% endblock %}