/* Главные секции */

body{
    background-color: black;
}

section{
    padding-top: 7%;
}

/* Блоки */

.modal-content{
    background-color: rgb(29, 24, 24);
}

.main-btn div{
    width: 550px;
    margin: 65px auto;
    display: flex;
}

.main-title div{
    width: 400px;
    margin: auto;
}

.main-logo{
    padding: 0;
}

.main-logo div{
    width: 135px;
    margin: 27px auto 20px;
    position: relative;
}

.release-form{
    width: 400px;
    margin: auto;
}

.release-form div{
    width: auto;
    border: solid 1px white; 
    border-radius: 5px;
    background-color: #0f0f0f;
    margin-bottom: 40px;
    font-family: var(--oswald_light);
    color: white;
}

.errors div{
    width: 400px;
    margin: auto;
    margin-bottom: 40px;
    color: brown;
}

.release-button div{
    width: 400px;
    margin: auto;
}
/* Ссылки */

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: underline;
}

a:focus{
    text-decoration: underline;
    outline: none;
}

/* Текст */

.nav-item{
    padding: 30px 12px 0px 12px;
    font-family: var(--oswald_light);
    color: white;
    font-size: 15px;
}

.news{
    color: white;
}

.news h3{
    font-family: var(--oswald_semi_bold);
}

.news p{
    font-family: var(--montserrat_regular);
    margin-top: 20px;
}

.news-footer{
    padding: 5px 0px 60px 0px;
    font-family: var(--montserrat_regular);
    color: white;
    font-size: 13px;
    position: relative;
}

.main-title p{
    margin-top: 50px;
    text-align: center;
    font-family: var(--oswald_ex_light);
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}


/* Кнопки */

.button{
    border: 1px solid;
    background: none;
    font-family: var(--oswald_regular);
    color: white;
}

.main-btn button{
    width: 100px;
    flex: 20px;
    margin: 20px;
}

.news-footer button{
    position: absolute;
    right: 20px;
    top: -5px;
}


.audio-button div{
    width: 400px;
    margin: auto;
    margin-top: 150px;
}

.audio-button button{
    width: 300px;
    height: 70px;
    margin: auto;
    display: block;
}

.modal-body input[type = 'image']{
    width: 20px;
    height: 20px;
    
}


/* Картинки */

.news img{
    margin-bottom: 10px;
}



.main-logo img:nth-child(1){
    width: 135px;
}

.main-logo img:nth-child(2){
    width: 15px;
    position: absolute;
    bottom: -7px;
    right: 0px;
} 

.main-title img{
    display: block;
    width: 135px;
    margin: 7px auto;
}

/* Формы */

.auth{
    width: 200px;
    margin: auto;
    font-family: var(--oswald_regular);
    color: white;
}

.release-form p{
    margin: 20px 20px 20px 20px;
}

.modal-body table td, th{
    border: solid 1px white;
    padding: 10px;
    color: white;
}

