{% extends 'base.html' %}
{% load static %}

{% block header %}

{% include '_nav.html' %}

{% endblock %}

{% block body %}

<div class="container-xxl !direction !spacing">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-md-6 col-sm-8 col-10 release-header">
            <h5>{{ form_title }}</h5><hr>
            {% autoescape off %}
            <p>{{ form_description }}</p>
            {% endautoescape %}
            {% if error %}
                <p style="text-align: center; color: brown;">{{ error }}</p>
            {% endif %}
        </div>
    </div>
    <div class="calc-form">

        
        <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} calc">
            <div class="col-md-6">
                <form action="" method="POST" id="calc-form">
                    {% csrf_token %}
                    <div class="col">
                        <label for="apple_music">Apple Music</label>
                        <input value="{{ apple_music }}" name="apple_music" type="number" id="apple_music">
                    </div>
    
        
                       
                    <div class="col">
                        <label for="spotify">Spotify</label>
                        <input value="{{ spotify }}" name="spotify" type="number" id="spotify">
                    </div>            
                    
                    
                    
                    <div class="col">
                        <label for="vk_boom">VK / BOOM</label>
                        <input value="{{ vk_boom }}" name="vk_boom" type="number" id="vk_boom">
                    </div>
                    
                    
                    
                    <div class="col">
                        <label for="youtube">YouTube Music</label>
                        <input value="{{ youtube }}" name="youtube" type="number" id="youtube">
                    </div>
                </div>
                
                <div class="col-md-6 prepaid">
                    <div class="col">
                        <label for="prepaid">Потенциальный аванс</label>
                        {% if result %}
                            <input name="prepaid" readonly value="{{ result }} рублей" type="text" id="prepaid">
                        {% else %}
                            <input name="prepaid" readonly type="text" id="prepaid">
                        {% endif %}
                        <button form="calc-form" type="submit" class="btn button">Рассчитать</button>
                        <button hidden id="loading" class="btn button" type="button" disabled>
                            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                            Загрузка...
                        </button>
                    </div>
                </div>
            </div>
    
        </form>
    </div>
</div>

{% endblock %}