{% extends 'base.html' %}
{% load static %}

{% block header %}

{% include '_nav.html' %}

{% endblock %}

{% block body %}

<div class="container-xxl !direction !spacing">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-md-6 col-sm-8 col-10 release-header">
            <h5>{{ form_title }}</h5><hr>
            {% autoescape off %}
            <p>{{ form_description }}</p>
            {% endautoescape %}
        </div>
    </div>

    <form method="POST" action="" novalidate enctype="multipart/form-data">
        <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
            {% csrf_token %}
            <div class="col-md-6 col-sm-8 col-10 release-form">
                {% for item in form.visible_fields %}
                    <div>
                        <p>{{ item.label }}</p>
                        <p>{{ item.errors }}</p>
                        {% autoescape off %}
                        <p style="font-size: 15px;">{{ item.help_text }}</p>
                        {% endautoescape %}
                        <p>{{ item }}</p>
                    </div>
                {% endfor %}

                <div>
                    <p>Добавить видеоклип?</p>
                    <p>
                        <input type="radio" id="video_choice_1" name="add_video" value="NO" checked>
                        <label for="video_choice_1">Нет</label>
                    </p>
                    <p>
                        <input type="radio" id="video_choice_2" name="add_video" value="YES">
                        <label for="video_choice_2">Да</label>
                    </p>
                </div>
                
            </div>
            {% for item in form.hidden_fields %}
                {{ item }}
            {% endfor %}
        </div>

        <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
            <div class="col-md-6 col-sm-8 col-10 release-button">
                <button class="btn button" type="button" onclick="history.back();">Назад</button>
                <button class="btn button" type="submit">Далее</button>
                <button hidden id="loading" class="btn button" type="button" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Загрузка...
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}