{% extends 'base.html' %}
{% load static %}


{% block header %}

{% include '_nav.html' %}

{% endblock %}


{% block body %}

<div class="container-xxl !direction !spacing">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-xxl audio-button">
            <div class="col-4">
                <button type="button" class="btn button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Заполнить таблицу
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl !direction !spacing">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-xxl">
            <div class="col-12">
            <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table>
                                    <tr>
                                        {% for item in formset.form.visible_fields %}
                                            <th>{{ item.label }}</th>
                                            {% if item.name in button %}
                                            <th></th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% for forma in formset %}
                                        <tr>
                                            {% for item in forma.visible_fields %}
                                                <td>{{ item }}</td>
                                                {% if item.name in button %}
                                                    <td><input class="copy" type="image" src="{% static '/images/angle-down.png' %}"></td>
                                                {% endif %}
                                            {% endfor %}
                                            {% for item in forma.hidden_fields %}
                                                {{ item }}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}