{% extends 'base.html' %}
{% load static %}

{% block header %}

{% if not user.is_authenticated %}
    <div class="container-fluid !direction !spacing">
        <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
            <div class="col-md-xxl">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a aria-current="page" href="{% url 'login' %}">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% else %}
    {% include 'inc/_nav.html' %}
{% endif %}

{% endblock %}




{% block body %}

<div class="container-xxl !direction !spacing">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-xxl main-logo">
            <div class="col-3">
                <img src="{% static '/images/icon_white.png' %}" alt="">
                <img src="{% static '/images/dot_white.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-xxl main-title">
            <div class="col-5 ">
                <img src="{% static '/images/title_white.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-xxl main-title">
            <div class="col-7">
                <p>Музыкальное издательство</p> 
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="container-xxl !direction !spacing">
            <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
                <div class="col-xxl main-btn">
                    <div class="col-3">
                        <button type="button" class="btn button"><a href="{% url 'release' %}">Релиз</a></button>
                        <button type="button" class="btn button"><a href="{% url 'documents' %}">Документы</a></button>
                        <button type="button" class="btn button"><a href="#">Маркетинг</a></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}