<div class="container-xxl !direction !spacing">
    <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
        <div class="col-lg-6 col-sm-8 col-6 nav-block-left">
            <ul class="nav">
                <li class="nav-item">
                    <a aria-current="page" href="{% url 'main' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'lk' %}">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'calc' %}">Калькулятор авансов</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'news' %}">Новости</a>
                </li>
                
            </ul>
        </div>
        <div class="col-lg-6 col-sm-4 col-6 nav-block-right">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a aria-current="page" href="{% url 'logout' %}">Выход</a>
                </li>
            </ul>
        </div>
    </div>
</div>