{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    
    <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static '/images/favicon.ico' %}" type="image/x-icon">
    <link href="{% static '/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/css/font.css' %}" rel="stylesheet" type="text/css">

    <title>DNK Music</title>

  </head>

  <body>
    <header>
      {% block header %}
      {% endblock %}
    </header>
    <section>
      {% block body %}
      {% endblock %}
    </section>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>

    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/jquery-3.6.0.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
  </body>
</html>