<input type="checkbox" name="politics">
<span>Я согласен на обработку моих персональных данных в соответствии с Политикой конфиденциальности.<br></span>
<div class="modal fade" id="politics" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="politicsLabel">Политика конфиденциальности</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                                <p>1. ОБЩИЕ ПОЛОЖЕНИЯ<br />
                1.1. Настоящая политика разработана в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ &laquo;О персональных данных&raquo; и регулирует отношения между Оператором и Пользователем (физическим лицом пользователем сети Интернет) по поводу обработки персональных данных Пользователя и мер по обеспечению их безопасности.<br />
                1.2.Актуальная редакция Политики конфиденциальности  размещена по адресу: <br />
                ______________<br />
                1.3. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну. <br />
                1.4. Настоящая политика Оператора в отношении обработки персональных данных (далее &ndash; Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта. <br />
                1.5. Основные понятия, используемые в настоящей Политике:<br />
                Оператор &ndash; ИП Диденок Ева Олеговна, ОГРНИП 317502900059012, ИНН 771980330401, адрес: 109341, г. Москва, ул. Верхние поля, дом № 10, кв.49 электронная почта: doc@dnkmusic.in ) осуществляющее обработку персональных данных, а также определяющее цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;<br />
                Пользователь &ndash; любой посетитель Веб-сайта;<br />
                Веб-сайт &ndash; совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу _______ и всем сайтам Оператора, содержащим ссылки на данное Положение, независимо от способа их использования или доступа, включая доступ с мобильных устройств;</p>
                
                <p dir="ltr">Обработка персональных данных &ndash; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;</p>
                
                <p dir="ltr">Персональные данные &ndash; любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта, в том числе фамилия, имя, отчество, возраст, пол, электронный адрес, номера телефонов, банковские данные, адрес фактического места проживания и регистрации по месту жительства и (или) по месту пребывания, обезличенные данные о посетителях (в т.ч. файлов &laquo;cookie&raquo;) с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других), IP-адрес, информация о браузере, время доступа к сайту, адрес страницы, на которой расположен рекламный блок, реферер (адрес предыдущей страницы) и другие данные;<br />
                Cookie &ndash; небольшой файл, размещаемый Оператором на компьютере или устройстве Пользователя при посещении им определенных частей Веб-сайта и/или при использовании Пользователем определенных функций Веб-сайта;  </p>
                
                <p> </p>
                
                <p dir="ltr">2.ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ:<br />
                - продвижение работ и услуг Оператора на рынке путем осуществления прямых контактов с потенциальным контрагентом с помощью средств связи;<br />
                - подготовка и надлежащее исполнение договоров по предоставлению прав на использование произведений, исполнений и фонограмм;</p>
                
                <p dir="ltr">- помощь и консультация контрагентов в составлении договоров с авторами произведений, исполнителями и иными правообладателями</p>
                
                <p dir="ltr">- идентификация субъекта персональных данных;<br />
                - совершенствование и персонализация услуг Оператора;<br />
                - предоставление  рекламных и маркетинговых материалов, в том числе посредством email- и sms-рассылки на email и телефон, указанные соответствующим субъектом персональных данных при заполнении форм подписки (покупки) на сайте Оператора;<br />
                - повышение удобства использования Веб-сайта, улучшение его содержания, функциональных возможностей и т.д.;<br />
                - направление консультаций, ответов на запросы пользователей сайта  с помощью средств связи и указанных ими контактных данных;<br />
                - соблюдение установленных законодательством обязательств;<br />
                <br />
                3. ПЕРЕДАЧА ПЕРСОНАЛЬНЫХ ДАННЫХ.<br />
                3.1. Оператор вправе поручить обработку персональных данных своим работникам, другим юридическим или физическим лицам на основании договора, в том числе путем трансграничной передачи данных посредством сети Интернет. При этом отдельного согласия субъекта персональных данных на такую передачу не требуется.<br />
                3.2. Лицо, осуществляющее обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные законодательством РФ о персональных данных.<br />
                3.3. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных. <br />
                3.4. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных. <br />
                3.5. Передача персональных данных субъектов, с которыми взаимодействует Оператор, осуществляется только для надлежащего исполнения обязательств по заключенным договорам (соглашениям), в рамках которых Оператор и указанные субъекты взаимодействуют.<br />
                3.5. При передаче персональных данных субъекта Оператор обязан предупреждать лиц, получающих персональные данные субъектов, о том, что эти данные могут быть использованы лишь в целях, для которых они сообщены, и требовать от этих лиц обеспечения конфиденциальности полученных персональных данных.</strong><br />
                 </p>
                
                <p dir="ltr">4.СOOKIES-ФАЙЛЫ.<br />
                4.1. Оператор собирает и обрабатывает cookies в отношении Пользователей, посещающих Веб-сайт. <br />
                4.2. Оператор использует следующие типы файлов cookies:</strong></p>
                
                <p dir="ltr">- строго необходимые файлы cookies / технические файлы cookies: эти файлы cookies необходимы для работы Веб-сайта, кроме всего прочего, они позволяют Оператору идентифицировать аппаратное и программное обеспечение Пользователя, включая тип браузера;</strong></p>
                
                <p dir="ltr">- статистические / аналитические файлы cookies: эти файлы cookies позволяют распознавать пользователей, подсчитывать их количество и собирать информацию, такую как произведенные операции на сайтах, включая информацию о посещенных веб-страницах и контенте, который получает Пользователь;</strong></p>
                
                <p dir="ltr">- технические файлы cookies: эти файлы cookies собирают информацию о том, как пользователи взаимодействуют с сайтом, что позволяет выявлять ошибки и тестировать новые функции для повышения производительности Веб-сайта;</strong></p>
                
                <p dir="ltr">- функциональные файлы cookies: эти файлы cookies позволяют предоставлять определенные функции, чтобы облегчить использование сайтов, например, сохраняя предпочтения (такие как язык и местоположение);</strong></p>
                
                <p dir="ltr">- (сторонние) файлы отслеживания / рекламные файлы cookies: эти файлы cookies собирают информацию об источниках трафика, посещенных страницах и рекламе, отображенной у Пользователя. Они позволяют отображать рекламу, которая может заинтересовать Пользователя, на основе анализа информации, собранной о Пользователе. Они также используются в статистических и исследовательских целях.<br />
                4.3. Сookies обрабатываются Оператором исключительно с целями, которые указаны в разделе 2 настоящей Политики, на условиях и в порядке, определенных настоящей Политикой<br />
                4.4. Информация, собранная с помощью файлов cookies, размещенных на устройстве Пользователя, может быть передана и доступна Оператору и/или третьим лицам, указанным в разделе 3 настоящей Политики, а также компаниям, которые являются владельцами сервисов веб-аналитики Рейтинг Mail.ru, Яндекс.Метрика, Google Analytics и/или других аналогичных сервисов, если это указано в политике конфиденциальности соответствующего сервиса веб-аналитики.<br />
                4.5. Пользователь может отказаться от обработки cookies в настройках своего браузера. В указанном случае Веб-сайт будет использовать только те cookies, которые строго необходимы для функционирования сайта и предоставления его функциональных возможностей. При этом Пользователь должен понимать, что некоторые функции Веб-сайта не смогут работать должным образом.</strong></p>
                
                <p dir="ltr"><br />
                5. ПРАВА ПОЛЬЗОВАТЕЛЯ. </strong></p>
                
                <p dir="ltr">5.1. Пользователь в целях обеспечения защиты персональных данных имеет следующие права:<br />
                - на принятие решения о предоставлении своих персональных данных свободно, своей волей и в своем интересе;</strong></p>
                
                <p dir="ltr">- на полную информацию об их персональных данных и обработке этих данных при направлении соответствующего запроса; </strong></p>
                
                <p dir="ltr">- на свободный бесплатный доступ к своим персональным данным, включая право на получение копий любой записи, содержащей персональные данные, за исключением случаев, предусмотренных федеральным законом; </strong></p>
                
                <p dir="ltr">- на определение своих представителей для защиты своих персональных данных; </strong></p>
                
                <p dir="ltr">- на требование об исключении или исправлении неверных или неполных персональных данных, а также данных, обработанных с нарушением требований Федерального закона от 27.07.2006 № 152-ФЗ &laquo;О персональных данных&raquo;. </strong></p>
                
                <p dir="ltr">- на отзыв своего согласия на обработку персональных данных<br />
                5.2. Таким образом, в соответствии с положениями Федерального закона от 27.07.2006 № 152-ФЗ &laquo;О персональных данных&raquo;, Пользователи Веб-сайта могут реализовать вышеуказанные права, направив письменный запрос по любому из следующих адресов:<br />
                 Электронная почта: doc@dnkmusic.in<br />
                 Почтовый адрес: 109341, г. Москва, ул. Верхние поля, дом № 10, кв.49</strong></p>
                
                <p dir="ltr">6. ОБЕСПЕЧЕНИЕ БЕЗОПАСНОСТИ ПЕРСОНАЛЬНЫХ ДАННЫХ.<br />
                6.1. При обработке персональных данных Оператор применяет правовые, организационные и технические меры по обеспечению безопасности персональных данных в соответствии со ст. 19 Федерального закона от 27.07.2006 № 152-ФЗ &laquo;О персональных данных&raquo;.<br />
                6.2. Персональные данные, которые обрабатываются в информационных системах, подлежат защите от несанкционированного доступа и копирования. Безопасность персональных данных при их обработке в информационных системах обеспечивается с помощью системы защиты персональных данных, включающей организационные меры и средства защиты информации. Технические и программные средства должны удовлетворять устанавливаемым в соответствии с законодательством Российской Федерации требованиям, обеспечивающим защиту информации.<br />
                6.3.Сотрудники Оператора, непосредственно осуществляющие обработку персональных данных, ознакомлены до начала работы с положениями законодательства Российской Федерации о персональных данных, в том числе с требованиями к защите персональных данных, документами, определяющими политику Оператора в отношении обработки персональных данных, локальными актами по вопросам обработки персональных данных.<br />
                <br />
                7.ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ.<br />
                7.1. Согласие на обработку персональных данных предоставляется при заполнении специальных форм на сайте Оператора или оформлении заявки на заключение и/или подготовку соответствующего договора путем проставления &laquo;галочки&raquo; в специальном &laquo;чекбоксе&raquo; &laquo;Я согласен на обработку моих персональных данных в соответствии с Политикой конфиденциальности&raquo;. При этом отдельное письменное согласие не требуется.<br />
                7.2. Персональные данные предоставляются (собираются) от субъекта персональных данных. При передаче Пользователем персональных данных третьих лиц, пользователь обязуется и гарантирует, что согласие на предоставление персональных данных Оператору получено им от третьих лиц. Пользователь гарантирует, что Оператор будет освобожден от потерь и убытков, возникающих и/или связанных с требованиями третьих лиц в отношении несоответствия данных Пользователем гарантий, а в случае возникновения таких потерь и убытков Пользователь обязуется урегулировать документально подтвержденные претензии третьих лиц своими силами и за свой счет, в случае признания их обоснованными, не привлекая Оператора к разбирательству, а также возместить убытки, потери, компенсации Оператора в полном объеме.  </strong></p>
                
                <p dir="ltr">7.3. Срок действия согласия на обработку персональных данных не ограничен. Обработка персональных данных осуществляется без ограничения срока, любым законным способом.<br />
                7.4. Условия политики конфиденциальности могут быть изменены Оператором в одностороннем порядке. Изменения в Политике конфиденциальности вступают в силу с момента публикации новой редакции на сайте по адресу _____________. Факт использования Пользователем Веб-сайта после внесения соответствующих изменений означает согласие Пользователя на принятие новой редакции Политики. Мы рекомендуем периодически перечитывать настоящую Политику для ознакомления с ее актуальной редакцией.</strong></p>
                
                <p dir="ltr"><br />
                 </p>
                
                <p> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button middle-text" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<button style="margin-top: 20px;" type="button" class="btn button middle-text" data-bs-toggle="modal" data-bs-target="#politics">
    Подробнее...
</button>